<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <script src="/static/js/bootstrap.js"></script>
    </head>
    <body style="background: url('/static/00585a3568a0a7d.jpg'); background-repeat: no-repeat; background-size: cover;">
        <form method="post" action="{% url 'changepasswordAction' %}">
            {% csrf_token %}
            <div class="container" style="padding-left: 300px; padding-top: 200px;">    
                <table>
                    <tr>
                        <th>Currentpassword</th>
                        <td><input type="text" name="currentpassword" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Newpassword</th>
                        <td><input type="password" name="newpassword" class="form-control"></td>
                    </tr>></td>
                    </tr>
                    <tr>
                        <th>Retypenewpassword</th>
                        <td><input type="password" name="retypepassword" class="form-control"></td>
                    </tr>></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td style="padding-left: 65px; padding-top: 10px;"><input type="submit" value="Submit" class="btn btn-outline-danger"></td>
                    </tr>
                </table>
            </div>
        </form>
    </body>
</html>

{% if messages %}
    {% for msg in messages %}
    <script>
        alert('{{msg}}')
    </script>
    {% endfor %}

{% endif %}