<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <script src="/static/js/bootstrap.js"></script>
    </head>
    <body style="background: url('/static/00585a3568a0a7d.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="container" style="padding-top: 259px; padding-left: 468px;">
        <table>
        <form method="post" action="{% url 'customerageAction' %}">
            {% csrf_token %}
            <tr>
                <th>Factor</th>
                <td><select name="factor" class="form-control ">
                    <option value="">---select---</option>
                    {% for v in yr %}
                    <option value="{{v.id}}">{{v.Factorname}}</option>
                    {% endfor %}
                </select>
                </td>
            </tr>
            <tr>
                <th></th>
                <td style="padding-top: 10px; padding-left: 29px;"><input type="submit" value="Add" class="btn btn-outline-secondary"></td>
            </tr>
        </table>
        </div>
        </form>
    
    </body>
</html>
{% if messages %}
    {% for msg in messages %}
        <script>
            alert('{{msg}}')
        </script>
    {% endfor %}
{% endif %}