<html>
    <body>
        <table>
            <tr>
                <th>ReceiverName</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
            {% for v in vw %}
            <tr>    
                <td>{{v.Receiverid.Username}}</td>
                <td>{{v.Subject}}</td>
                <td>{{v.Message}}</td>
                <td>{{v.Date}}</td>
                <td>{{v.Time}}</td>
                <td><a href="{% url 'delete' v.id %}">Delete</a></td>
            </tr>
                        
            {% endfor %}
        </table>
    </body>
</html>